/* clases por etiqueta */
html{
    scroll-behavior: smooth;
}
body{
    font-family: Monserrat;
    
}

footer{
    background-color: #0dcaf0;
}
h1{
    font-weight: 500;
    font: 500,Monserrat;
}
h2{
    font-weight: 500;
    font: 500,Monserrat;
}
p{
    font-weight: 300;
    font: 300,Monserrat;
}
hr{
    color: darkgray;
    width: 80%;
}
/* clases  */
.bg-cian{
    background-color: #0dcaf0;
}
.inline{
    display: inline;
}
.inblock{
    display: block
}