body{
    font-family: Monserrat;
    
}

footer{
    background-color: #0dcaf0;
}
hr{
    color: darkgray;
    width: 80%;
}
/* clases  */
.bg-cian{
    background-color: #0dcaf0;
}
.inline{
    display: inline;
}
.inblock{
    display: block
    position: absolute
}